{% extends "base.html" %}
{% load includetag %}
{% block content %}
    {% include "tecmo_outline_table.html" %}
    {% part data %}
        <div style="width: 700px;">
            <span class="header2light">Tecmo Fantasy Bowl Account Creation</span>
            <hr/><br/><br/>
            <center><span class="header2light">Congrats!  Your account has been activated. </span><br/><br/><br/><br/></center>
            <span class="header2light">Go <a href="/login">Login!</a></span>
        </div>
    {% endpart %}
    {% endinclude %}
{% endblock %}