{% extends "base_league_block.html" %}
{% load includetag %}

{% block title %}Welcome to Tecmo Fantasy Bowl {{ user.username }}!{% endblock %}

{% block header_auth %}
<div id='league' class='weeks'>
    {% include "tecmo_outline_table.html" %}
    {% part data %}
    <table>
        <tr>
            <td>
                <a href="/myteam"><img src="/static/pictures/myteam.gif"></a>  |
                <a href="/matchup"><img src="/static/pictures/matchup.gif"></a>  |
                <a href="/messages"><img src="/static/pictures/messages.gif"></a>
            </td>
        </tr>
    </table>
    {% endpart %}
    {% endinclude %}
</div>
{% if matchups %}
<div id='league' class='weeks'>
    {% include "tecmo_outline_table.html" %}
    {% part data %}
        <table width=895px>
            <tr>

                {% for i in weeks %}
              <td width=1%>
                  <span class='header2light'>
                      <a href="/league/{{ i }}" class='dark'>{{ i }}</a>
                  </span>
              </td>
                {% endfor %}

            </tr>
        </table>
    {% endpart %}
    {% endinclude %}
</div>
{% endif %}
<div id='league' class='league_breakdown'>
    {% include "tecmo_outline_table.html" %}
    {% part data %} 
    <table width=500 bgcolor=black cellpadding=5px>
        <tr>
            <th colspan=5><center>{{ league.lname }}<hr style="border:solid;border-width:1px;color:#ffffff"/></center></th>
        </tr>
        {% if myteam.iscommish == 'Y' %}
        <tr>
            <td colspan=5><center><a href="/leagueadmin" class="dark">Administrate your league</a></center></td>
        </tr>
        {% endif %}
        <tr>
            <td class='white'>#</td>
            <td class='white'>Team Name</td>
            <td class='white'>W-L-T</td>
            <td class='white'>PF</td>
            <td class='white'>PA</td>
        </tr>
        {% for team in teams reversed%}
        <tr bgcolor="white">
            <td width="5%"><b>{{ forloop.counter }}</b></td>
            <td width="70%"><span class='header1'>{% if team.name == myteam.name %}<a href="/myteam">{{ team.name }} ({{ team.owner.user.username }})</a>{% else %}<a href="/uteam/{{ team.id }}">{{ team.name }} ({{ team.owner.user.username }})</a></span>{% endif %}</td>
            <td width="10%">{{ team.win }}-{{ team.loss }}</td>
            <td>{{ team.total_points }}</td>
            <td>{{ team.total_points_against }}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% endpart %}
    {% endinclude %}  
</div>
{% endblock %}

{% block weekly_matchups %}
<div id='league' class='matchup'>
    {% include "tecmo_outline_table.html" %}
    {% part data %}
    <table width=350 bgcolor=black cellpadding=5px>
        <tr>
            <th colspan=2><center>Week {{ curweek }} Matchups:<hr style="border:solid;border-width:1px;color:#ffffff"/></center></th>
        </tr>
        <tr>
            <td class='white' width=70%>Teams</td>
            <td class='white'>Score</td>
        </tr>
        <tr bgcolor="white">
            <td colspan=2>
                <table cellpadding="2" width=90%>
                    {% if matchups %}
                    {% for mu in matchups %}
                    <tr>
                        <td rowspan="2">{{ forloop.counter }}</td>
                        <td width=88%><a href="/matchup/{{ mu.id }}">{% if mu.team_one.name == '' %}({{ mu.team_one.owner.user }}){% else %}{{ mu.team_one.name }}{% endif %}</a></td>
                        <td>{{ mu.team_one_points }}</td>
                    </tr>
                    <tr>
                        <td width=88%><a href="/matchup/{{ mu.id }}">{% if mu.team_two.name == '' %}({{ mu.team_two.owner.user }}){% else %}{{ mu.team_two.name }}{% endif %}</a></td>
                        <td>{{ mu.team_two_points }}</td>
                    </tr>
                    <tr>
                        <td colspan=3><hr style="border:solid;border-width:1px;color:#000000"/></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td>No Matchup Data Yet.</td>
                        </tr>
                    {% endif %}

                </table>
            </td>
        </tr>
    </table>
    {% endpart %}
    {% endinclude %}  
</div>
{% endblock %}

{% block transactions %}
    <div id='league' class='transactions'>
        {% include "tecmo_outline_table.html" %}
            {% part data %}
                <table width=500 bgcolor='white'>
                    {% for t in transactions %}
                        <tr>
                            <td>
                                <span class='header1'>{{ t.action }} <a href="/playerpage/{{ t.player.id }}">{{ t.player }}</a>  :: {{ t.timestamp }} :: {{ t.owner.user.username }}</span><br/>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endpart %}
        {% endinclude %}
    </div>
{% endblock %}

{% block join_a_league %}
    <div id='league' class='topleft'>
        {% include "tecmo_outline_table.html" %}
            {% part data %}
                <p><span class='header2light'>Welcome, {{ user.first_name }}. Please <a href='/joinleague'>Join a league.</a></span></p>
            {% endpart %}
        {% endinclude %}
    </div>
{% endblock %}

{% block header_noauth %}
<div id='league' class='topleft'>
    {% include "tecmo_outline_table.html" %}
    {% part data %}
        <p><span class='header2light'>Welcome, new user. Please <a href='/login'>log in.</a></span></p>
    {% endpart %}
    {% endinclude %}  
</div>
{% endblock %}

{% block messages %}
    <div id='league' class='matchup'>
        {% include "tecmo_outline_table.html" %}
            {% part data %}
                <table width=350 bgcolor=black cellpadding=5px>
                    <tr>
                        <td class="white">
                            Recent Messages: <a class="dark" href="/messages">(See More & Post)</a>
                        </td>
                    </tr>
                    {% for m in recent_messages %}
                    <tr bgcolor="white">
                        <td>
                            {{ m.user.team.name }} ({{ m.user.user.username }}) @ {{ m.timestamp }}:<br/><blockquote>{{ m.message }}</blockquote>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% endpart %}
        {% endinclude %}
    </div>
{% endblock %}