{% extends "base.html" %}


{% block content%}

    {% if search %}
        {% block search_block %}{% endblock %}
    {% else %}
        {% block search_bar %}{% endblock %}
    {% endif %}

    {% if playersearch %}
        {% block player_card %}{% endblock %}
    {% endif %}

    {% if top %}
        {% block top_block %}{% endblock %}
    {% endif %}

    {% if pos and not top %}
        {% block pos_block %}{% endblock %}
    {% endif %}

    {% if draft %}
        {% block draft_block %}{% endblock %}
    {% endif %}

{% endblock %}