{% extends "base.html" %}
{% load includetag %}

{% block content %}
<div id='profile' class='nametag'>
    {% include "tecmo_outline_table.html" %}
        {% part data %}
            <table width=800>
                <tr valign=center>
                    <td >
                        <span class='header2light'>What is Tecmo Fantasy Bowl?</span><br/><br/>

                        <table>
                            <tr>
                                <td class='normal'>
                                    <span style='color: white;'>
                                    <ul>
                                        <li>
                                            It is simulated fantasy football.
                                        </li><br/>
                                        <li>
                                            The rosters can be current, historic, or dynasty.
                                        </li><br/>
                                        <li>
                                            It is much lighter weight than real fantasy football.
                                        </li><br/>
                                        <li>
                                            Sign up <a href="/login">here!</a>
                                        </li><br/>
                                    </ul></span>
                                </td>
                                <td>
                                    <img src="/static/pictures/tfb_small.png" style="margin-bottom: 30px">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span style='color: white;' class='normal'>
                                        <b><span style="font-size: 2.3em;">Simulated Fantasy Football</span></b><br/>
                                        Tecmo Super Bowl does not use current NFL games and stats to rank it's players.  The roster is reflective of the current active Tecmo Super Bowl ROM (nintendo) that is being used to simulate the season.  Games are done as a SKP v SKP and the stats are extracted and inserted into the site.  <br/><br/>Basically I run a week of Tecmo Super Bowl and upload the stats.  The rest is fantasy football as usual.
                                        <br/><br/><br/><b><span style="font-size: 2.3em;">Rosters</span></b><br/>
                                        The beauty of using the Tecmo Super Bowl to drive the stats is that there is a universe of "altered" versions that include all sorts of rosters.
                                        The community at <a class="dark" href="http://www.tecmobowl.org">tecmobowl.org</a> keep a pretty up to date current roster rom on hand - you can expect to play a current roster every now and then... which rom? Who knows!
                                        <br/><br/><br/><b><span style="font-size: 2.3em;">Light Weight</span></b><br/>
                                        Seasons last roughly 14-17 weeks of simulated in game time, but can be executed much quicker than that in real life time.
                                        While keeping a decent pace to allow even casual players time to update their rosters according to bye weeks and injuries, we are still able to make it through a season at a much greater pace than a typical NFL season.
                                        <br/><br/><br/><b><span style="font-size: 2.3em;">Sign Up</span></b><br/>
                                        What are you waiting for?  Sign up and join a public league because private leagues aren't written yet :)
                                    </span>
                                </td>
                            </tr>
                        </table>

                        <br/><br/><br/><br/><span class='header2'><a class="dark" href='mailto:jtaddei@gmail.com'>Email Joel with your questions</a></span>

                        </span>
                    </td>
                </tr>
            </table>
        {% endpart %}
    {% endinclude %}
</div>

{% endblock %}